---
- name: Set PTR record facts
  ansible.builtin.include_tasks: set_ptr_info.yml

- name: Authenticate to Micetro API 
  ansible.builtin.include_tasks: authenticate.yml 

# Need zone ID's for subsequent API calls
- name: Get zone IDs
  ansible.builtin.include_tasks: get_zone_ids.yml

- name: Find DNS records for target server 
  ansible.builtin.include_tasks: find_dns_records.yml 

- name: Add DNS records
  ansible.builtin.include_tasks: add_dns_records.yml 
  when: add_records | bool 

- name: Delete DNS records 
  ansible.builtin.include_tasks: delete_dns_records.yml 
  when: delete_records | bool
