---
# Use Ansible facts for IP address
- ansible.builtin.set_fact:
    ip_addr: "{{ ansible_default_ipv4.address }}"

# Don't use Ansible facts for IP address
#- name: Determine IP address
#  ansible.builtin.shell: /usr/bin/nslookup "{{ vm }}" | grep '^Address' | awk 'FNR == 2 {print $2}'
#  register: ip_address
#- ansible.builtin.set_fact:
#    ip_addr: "{{ ip_address.stdout }}"
    
# Set the correct name for the PTR record
- ansible.builtin.set_fact:
    ip_addr_rev: "{{ ip_addr | split('.') | reverse }}"
- ansible.builtin.set_fact:
    ptr_record_name: "{{ ip_addr_rev | join('.') }}.in-addr.arpa."
# Set the correct name for the reverse lookup zone
- ansible.builtin.set_fact:
    ptr_reverse_zone: "{{ ip_addr_rev[-2:] | join('.') }}.in-addr.arpa."

- name: Dump facts
  ansible.builtin.debug: 
    msg:
      - "PTR record name is: {{ ptr_record_name }}"
      - "Reverse lookup zone is: {{ ptr_reverse_zone }}"
  when: debug_mode | bool
  
